{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * activeusers plugin for Craft CMS
 *
 * ActiveusersWidget Widget Body
 *
 * @author    vardump.de
 * @copyright Copyright (c) 2019 vardump.de
 * @link      https://vardump.de
 * @package   Activeusers
 * @since     1.0.0
 */
#}
{% if (userData) %}
    <div class="activeusers_container">
        <table class="data fullwidth">
            <tbody>
            {% for user in userData %}
                {% set inactiveTime = now - user.dateUpdated %}
                {% set userStatus = 'live' %}
                {% if inactiveTime > 60 * inactive %}
                    {% set userStatus = 'pending' %}
                {% endif %}
                <tr>
                    <td>
                        <span class="status {{ userStatus }}"></span>
                        {{ user.user.firstName }} {{ user.user.lastName }} <span
                                class="light">({{ user.user.username }})</span></td>
                    <td>
                        <span class="light">{{ user.dateUpdated|timestamp('short') }}</span>
                    </td>
                    <td>
                        <span class="light">{{ user.user.lastLoginDate|timestamp('short') }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>{{ message }}</p>
{% endif %}
