{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * activeusers plugin for Craft CMS
 *
 * ActiveusersWidget Widget Settings
 *
 * @author    vardump.de
 * @copyright Copyright (c) 2019 vardump.de
 * @link      https://vardump.de
 * @package   Activeusers
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("\\vardump\\activeusers\\assetbundles\\activeuserswidgetwidget\\ActiveusersWidgetWidgetAsset") %}

{{ forms.textField({
    label: "User limit"|t('activeusers'),
    instructions: "Max. shown user"|t('activeusers'),
    id: 'limit',
    name: 'limit',
    value: widget.limit,
    size: 3,
    errors: widget.getErrors('limit'),
    required: true
}) }}
{{ forms.textField({
    label: "Inactive Time"|t('activeusers'),
    instructions: "Minutes after the user is assumed inactive"|t('activeusers'),
    id: 'inactive',
    name: 'inactive',
    value: widget.inactive,
    size: 3,
    errors: widget.getErrors('inactive'),
    required: true
}) }}
<span class="light"> Session timeout: {{ sessionTimeout / 60 }} {{  "minutes"|t('activeusers') }}</span>
<hr>
{{ forms.textField({
    label: 'User link'|t('activeusers'),
    instructions: 'Link for the users. You can use the {{ user }} object'|t('activeusers'),
    id: 'userlink',
    name: 'userlink',
    value: widget['userlink']
}) }}
{{ forms.textField({
    label: 'Link target'|t('activeusers'),
    instructions: 'ex. _blank for new window'|t('activeusers'),
    id: 'linktarget',
    name: 'linktarget',
    value: widget['linktarget']
}) }}
<hr>
{{ forms.textField({
    label: 'Message'|t('activeusers'),
    instructions: 'Message if nobody is logged in'|t('activeusers'),
    id: 'message',
    name: 'message',
    value: widget['message']
}) }}
{{ forms.textField({
    label: 'Max. content height in px'|t('activeusers'),
    instructions: 'A scrollbar is added if the content height exceeds the height set (0 = unlimited)'|t('activeusers'),
    id: 'maxheight',
    name: 'maxheight',
    value: widget['maxheight'],
    size: 3,
}) }}