{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * activeusers plugin for Craft CMS
 *
 * ActiveusersWidget Widget Body
 *
 * @author    vardump.de
 * @copyright Copyright (c) 2019 vardump.de
 * @link      https://vardump.de
 * @package   Activeusers
 * @since     1.0.0
 */
#}
{% if (userData) %}
    {% set now = "now"|date('U') %}

    <div class="activeusers_container">
        <table class="data fullwidth">
            <tbody>
            {% for user in userData %}
                {% set lastLoginDate = user.lastLoginDate.timestamp %}
                {% set inactiveTime = now - lastLoginDate %}
                {% set userStatus = 'live' %}
                {% if inactiveTime > 60*inactive %}
                    {% set userStatus = 'pending' %}
                {% endif %}
                <tr>
                    <td>
                        <span class="status {{ userStatus }}"></span>
                        {{ user.firstName }} {{ user.lastName }} <span
                                class="light">({{ user.username }})</span></td>
                    <td>
                        <span class="light">{{ user.lastLoginDate|timestamp('short') }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>{{ message }}</p>
{% endif %}
